/* hoja_personaje.css */
/* Add player-specific fixes here */
#modal-escritura-teatro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #050505;
    border: 2px solid #a37c35;
    padding: 20px;
    z-index: 10000;
    width: 400px;
    color: #ffffff;
    display: none;
}

#player-theatre-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#player-theatre-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #42d9ee;
    margin-right: 15px;
}

#player-theatre-warning {
    color: #ff5964;
    font-weight: bold;
    display: none;
    margin-bottom: 10px;
}
#theatre-view-player {
    isolation: isolate;
}
